metal/cache/
python_server/__pycache__/
pdfs/RPM/
transformers/NER.local/
transformers/sentiment-analysis.local/
transformers/text-generation.local/
transformers/fill-mask.local/
transformers/pytorch_model.bin
*.png
*.pth
*.pyc
.DS_Store
